<!DOCTYPE html>
    <html>
    <head>
        <title>Industries</title>
        <head>
        <style>
    div {
      border-radius: 5px;
      background-color: #f2f2f2;
      padding: 20px;
    }
        </style>
    </head>
    <body>
    <div><h1>Industries:</h1><ul><li>Consumer goods</li><li>Consumer services</li><li>Financials</li><li>Industrials</li><li>Technology</li><li>Telecommunications</li><li>Transportation</li><li>Utilities</li><li>Energy</li><li>Oil & gas</li></ul></div></body></html>